<% provide(:title, "Sign in") %>
<div id = "sign_in">
<div class="ui form signin segment">
  <%= form_for(:session, url: sessions_path) do |f| %>
  <div class="field">
    <%= f.label :email%> 
	<div class="ui left labeled icon input">
      <%= f.text_field :email%>
      <i class="mail icon"></i>
      <div class="ui corner label">
      <i class="icon asterisk"></i>
      </div>
	</div>
  </div>
  <div class="field">
    <%= f.label :password %>
    <div class="ui left labeled icon input">
    <%= f.password_field :password%>
      <i class="lock icon"></i>
      <div class="ui corner label">
        <i class="icon asterisk"></i>
      </div>
    </div>
  </div>
   <p><%= link_to "forgotten password?", new_password_reset_path %></p>
  <%= f.submit "Sign in", class: "ui blue submit button" %>
<p>New user? <%= link_to "Sign up now!", signup_path %></p>
</div>
<% end %>
</div>

