<div id = "sale_houses_page" >

<div class="ui form rent segment" id="sale">
	  
<%= form_for(@sale_house) do |f| %>
  <%= render 'shared/error_messages', object: f.object%>
  <div class="field use">
    <%= f.label :'類型'%>
	<div class="ui left labeled icon input">
	  <%= f.text_field :use %>
      <i class="home icon"></i>
      <div class="ui corner label">
        <i class="icon asterisk"></i>
	  </div>
	</div>
  </div> 
  
 <div class="field structure">
    <%= f.label :'格局' %>
	<div class="ui left labeled icon input">
	  <%= f.text_field :structure %>
	  <i class="building icon"></i>
      <div class="ui corner label">
        <i class="icon asterisk"></i>
	  </div>
	</div>
  </div>
  
  <div class="field">
    <%= f.label :'地址' %>
	<div class="ui left labeled icon input">
	  <%= f.text_field :address %>
	  <i class="map marker icon"></i>
      <div class="ui corner label">
        <i class="icon asterisk"></i>
	  </div>
	</div>
  </div> 



  <div class="field price">
	<%= f.label :'售價' %>
	<div class="ui left labeled icon input">
	  <%= f.text_field :price %>
	  <i class="dollar icon"></i>
      <div class="ui corner label">
        <i class="icon asterisk"></i>
	  </div>
	</div>
  </div> 


  <div class="field">
    <%= f.label :'聯絡人' %>
	<div class="ui left labeled icon input">
	  <%= f.text_field :owner %>
	  <i class="user icon"></i>
      <div class="ui corner label">
        <i class="icon asterisk"></i>
	  </div>
	</div>
  </div>


  <div class="field">
	<%= f.label :'聯絡電話' %>
	<div class="ui left labeled icon input">
	  <%= f.text_field :tel %>
	  <i class="phone icon"></i>
      <div class="ui corner label">
        <i class="icon asterisk"></i>
	  </div>
	</div>
  </div>

  <div class="field">
    <%= f.label :'刊登資訊' %>
	<div class="ui left labeled icon input">
	  <%= f.text_area  :breif %>
	  <i class="infor icon"></i>
      <div class="ui corner label">
        <i class="icon asterisk"></i>
	  </div>
	</div>
  </div>

  <div class="field img_input_wrapper">
	<%= f.label :'圖片連結' %>
	<span class="i icon button add_more_button"><i class="add icon"></i></span>
	<div class="ui left labeled icon input">
		<%= text_field_tag 'img[]' %>
	  <i class="photo icon"></i>
      <div class="ui corner label">
        <i class="icon asterisk"></i>
	  </div>
	</div>
  </div>


  <%= f.submit "出售", class:"ui orange button" %>
</div>
<% end %>

<div class="house_list">
  <% if @user.sale_houses.any? %>
    <h3>出售中 (<%= @user.sale_houses.count %>)</h3>
    <ol class="sale_houses">
      <%= render @sale_houses %>
    </ol>
    <%= will_paginate @sale_houses %>
  <% end %>
</div>
</div>

<script>
$(document).ready(function(){
$('#sale')
  .form({
    use: {
      identifier : 'sale_house[use]',
      rules: [
        {
          type   : 'empty',
          prompt : '請輸入類別'
        }
      ]
    },
    structure: {
      identifier : 'sale_house[structure]',
      rules: [
        {
          type   : 'empty',
          prompt : '請輸入格局'
        }
      ]
    },
    address: {
      identifier : 'sale_house[address]',
      rules: [
        {
          type   : 'empty',
          prompt : '請輸入地址'
        }
      ]
    },
    price: {
      identifier : 'sale_house[price]',
      rules: [
        {
          type   : 'empty',
          prompt : '請輸入售價'
        }
      ]
    },
    owner: {
      identifier : 'sale_house[owner]',
      rules: [
        {
          type   : 'empty',
          prompt : '請輸入聯絡人'
        }
      ]
    },
    tel: {
      identifier : 'sale_house[tel]',
      rules: [
        {
          type   : 'empty',
          prompt : '請輸入聯絡電話'
        }
      ]
    },
    breif: {
      identifier : 'sale_house[breif]',
      rules: [
        {
          type   : 'empty',
          prompt : '請輸入刊登資訊'
        }
      ]
    }
  },{
    on: 'blur',
    inline: 'true',
    onSuccess : function() {
    }
  })
});

// add input field by jQuery
var max_input = 5;
var inputs_wrapper = $('.img_input_wrapper');
var add_button = $('.add_more_button');

var x = inputs_wrapper.length;
var fieldCount = 1;

$(add_button).click( function(e) 
{
	if ( x <= max_input ){
		fieldCount++;
		$(inputs_wrapper).append('<div><div class="ui left labeled icon input"> \
							     <input id="sale_house_img" name="img[]" type="text" > \
					  			 	 	<i class="photo icon"></i> \
					  	         		<div class="ui corner label"> \
					  	         			<i class="icon asterisk"></i> \
					  	         	  	</div> \
								</div> \
								<a href="#" class="removeclass">×</a></div>'
								);
		x++;
	}
	return false;
});

$('body').on('click', '.removeclass', function(e){

		if( x > 1 ){
			$(this).parent('div').remove();
			x--;
		}
	return false;
})



</script>
