<div class="ui form rent segment">
  <%= form_for(@sale_house) do |f| %>
  <%= render 'shared/error_messages', object: f.object%>
  <div class="field">
    <%= f.label :tpye %>
	<div class="ui left labeled icon input">
	  <%= f.text_field :type %>
      <i class="user icon"></i>
      <div class="ui corner label">
        <i class="icon asterisk"></i>
	  </div>
	</div>
  </div> 

  <div class="field">
    <%= f.label :address %>
	<div class="ui left labeled icon input">
	  <%= f.text_field :address %>
	  <i class="mail icon"></i>
      <div class="ui corner label">
        <i class="icon asterisk"></i>
	  </div>
	</div>
  </div> 

  <div class="field">
	<%= f.label :price %>
	<div class="ui left labeled icon input">
	  <%= f.text_field :price %>
	  <i class="lock icon"></i>
      <div class="ui corner label">
        <i class="icon asterisk"></i>
	  </div>
	</div>
  </div> 

  <div class="field">
    <%= f.label :size %>
	<div class="ui left labeled icon input">
	  <%= f.text_field :size %>
	  <i class="lock icon"></i>
      <div class="ui corner label">
        <i class="icon asterisk"></i>
	  </div>
	</div>
  </div>

  <div class="field">
    <%= f.label :structure %>
	<div class="ui left labeled icon input">
	  <%= f.text_field :structure %>
	  <i class="lock icon"></i>
      <div class="ui corner label">
        <i class="icon asterisk"></i>
	  </div>
	</div>
  </div>

  <div class="field">
    <%= f.label :year %>
	<div class="ui left labeled icon input">
	  <%= f.text_field :year %>
	  <i class="lock icon"></i>
      <div class="ui corner label">
        <i class="icon asterisk"></i>
	  </div>
	</div>
  </div>

  <div class="field">
	<%= f.label :floor %>
	<div class="ui left labeled icon input">
	  <%= f.text_field :floor %>
	  <i class="lock icon"></i>
      <div class="ui corner label">
        <i class="icon asterisk"></i>
	  </div>
	</div>
  </div>

  <div class="field">
    <%= f.label :breif %>
	<div class="ui left labeled icon input">
	  <%= f.text_area  :breif %>
	  <i class="lock icon"></i>
      <div class="ui corner label">
        <i class="icon asterisk"></i>
	  </div>
	</div>
  </div>

  <div class="field">
	<%= f.label :tel %>
	<div class="ui left labeled icon input">
	  <%= f.text_field :tel %>
	  <i class="lock icon"></i>
      <div class="ui corner label">
        <i class="icon asterisk"></i>
	  </div>
	</div>
  </div>

  <div class="field">
    <%= f.label :name %>
	<div class="ui left labeled icon input">
	  <%= f.text_field :owner %>
	  <i class="lock icon"></i>
      <div class="ui corner label">
        <i class="icon asterisk"></i>
	  </div>
	</div>
  </div>

  <div class="field">
	<%= f.label :email %>
	<div class="ui left labeled icon input">
	  <%= f.text_field :email %>
	  <i class="lock icon"></i>
      <div class="ui corner label">
        <i class="icon asterisk"></i>
	  </div>
	</div>
  </div>

  <%= f.submit "Create house on sale", class:"ui green button" %>
</div>
<% end %>

<div class="span8">
  <% if @user.sale_houses.any? %>
    <h3>Houses On Sale (<%= @user.sale_houses.count %>)</h3>
    <ol class="sale_houses">
      <%= render @sale_houses %>
    </ol>
    <%= will_paginate @sale_houses %>
  <% end %>
</div>

