<div id = "sale_houses_page" >

<div class="ui form rent segment" id="sale">
	  
<%= form_for(@sale_house) do |f| %>
  <%= render 'shared/error_messages', object: f.object%>
  <div class="field use">
    <%= f.label :'類型'%>
	<div class="ui left labeled icon input">
	  <%= f.text_field :use %>
      <i class="user icon"></i>
      <div class="ui corner label">
        <i class="icon asterisk"></i>
	  </div>
	</div>
  </div> 
  
 <div class="field structure">
    <%= f.label :'格局' %>
	<div class="ui left labeled icon input">
	  <%= f.text_field :structure %>
	  <i class="lock icon"></i>
      <div class="ui corner label">
        <i class="icon asterisk"></i>
	  </div>
	</div>
  </div>
  
  <div class="field">
    <%= f.label :'地址' %>
	<div class="ui left labeled icon input">
	  <%= f.text_field :address %>
	  <i class="mail icon"></i>
      <div class="ui corner label">
        <i class="icon asterisk"></i>
	  </div>
	</div>
  </div> 



  <div class="field price">
	<%= f.label :'售價' %>
	<div class="ui left labeled icon input">
	  <%= f.text_field :price %>
	  <i class="lock icon"></i>
      <div class="ui corner label">
        <i class="icon asterisk"></i>
	  </div>
	</div>
  </div> 


  <div class="field">
    <%= f.label :'聯絡人' %>
	<div class="ui left labeled icon input">
	  <%= f.text_field :owner %>
	  <i class="lock icon"></i>
      <div class="ui corner label">
        <i class="icon asterisk"></i>
	  </div>
	</div>
  </div>


  <div class="field">
	<%= f.label :'聯絡電話' %>
	<div class="ui left labeled icon input">
	  <%= f.text_field :tel %>
	  <i class="lock icon"></i>
      <div class="ui corner label">
        <i class="icon asterisk"></i>
	  </div>
	</div>
  </div>

  <div class="field">
    <%= f.label :'刊登資訊' %>
	<div class="ui left labeled icon input">
	  <%= f.text_area  :breif %>
	  <i class="lock icon"></i>
      <div class="ui corner label">
        <i class="icon asterisk"></i>
	  </div>
	</div>
  </div>

  <%= f.submit "出售", class:"ui orange button" %>
</div>
<% end %>

<div class="house_list">
  <% if @user.sale_houses.any? %>
    <h3>出售中 (<%= @user.sale_houses.count %>)</h3>
    <ol class="sale_houses">
      <%= render @sale_houses %>
    </ol>
    <%= will_paginate @sale_houses %>
  <% end %>
</div>
</div>

<script>
$(document).ready(function(){
$('#sale')
  .form({
    use: {
      identifier : 'sale_house[use]',
      rules: [
        {
          type   : 'empty',
          prompt : '請輸入類別'
        }
      ]
    },
    structure: {
      identifier : 'sale_house[structure]',
      rules: [
        {
          type   : 'empty',
          prompt : '請輸入格局'
        }
      ]
    },
    address: {
      identifier : 'sale_house[address]',
      rules: [
        {
          type   : 'empty',
          prompt : '請輸入地址'
        }
      ]
    },
    price: {
      identifier : 'sale_house[price]',
      rules: [
        {
          type   : 'empty',
          prompt : '請輸入售價'
        }
      ]
    },
    owner: {
      identifier : 'sale_house[owner]',
      rules: [
        {
          type   : 'empty',
          prompt : '請輸入聯絡人'
        }
      ]
    },
    tel: {
      identifier : 'sale_house[tel]',
      rules: [
        {
          type   : 'empty',
          prompt : '請輸入聯絡電話'
        }
      ]
    },
    breif: {
      identifier : 'sale_house[breif]',
      rules: [
        {
          type   : 'empty',
          prompt : '請輸入刊登資訊'
        }
      ]
    }
  },{
    on: 'blur',
    inline: 'true',
    onSuccess : function() {
    }
  })
});
</script>