<% provide(:title, '註冊') %>
<div id = "sign_up">
  <div class="ui form signup segment" id="signup">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
       <div class="field">
        <%= f.label :'使用者名稱' %>
        <div class="ui left labeled icon input">
          <%= f.text_field :name %>
          <i class="user icon"></i>
          <div class="ui corner label">
            <i class="icon asterisk"></i>
          </div>
        </div>
      </div> 
      <div class="field">
        <%= f.label :email %><br />
        <div class="ui left labeled icon input">
          <%= f.email_field :email, autofocus: true %>
          <i class="mail icon"></i>
          <div class="ui corner label">
            <i class="icon asterisk"></i>
          </div>
        </div>
      </div> 
      <div class="field">
        <%= f.label :'密碼' %><br />
        <div class="ui left labeled icon input">
          <%= f.password_field :password, autocomplete: "off" %>
          <i class="lock icon"></i>
          <div class="ui corner label">
            <i class="icon asterisk"></i>
          </div>
        </div>
      </div> 
      <div class="field">
        <%= f.label :'密碼確認' %><br />
        <div class="ui left labeled icon input">
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
            <i class="lock icon"></i>
            <div class="ui corner label">
              <i class="icon asterisk"></i>
            </div>
          </div>
        </div>
        <div><%= f.submit "註冊", class:"ui red button"%></div>
      <% end %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
