<% provide(:title, '租屋') %>
<%= content_for :head do %>
    <%= javascript_include_tag "show" %>
  <% end %>
  <body onload="initialize()">
<%= content_for :search_bar do %>
  <div class="menu_search_form">	
        <div class="item">
          <%= form_tag( search_rent_houses_path, remote:true, method:'get', class:"search_form") do%>
            <div class="ui icon input">
              <%= text_field_tag(:district, nil,placeholder: "搜尋城市、鄉鎮市區") %>
              <i class="search icon">
              </i>
              <%= submit_tag("", onClick:"search()", class:"ui button search_submit") %>
            </div>
          <% end %>
        </div>
      </div>
 <% end %>   
    <div id="map_canvas" style="width:100%; height:100%">
    </div>
    <div class="ui response cell grid">
      <div class="column">
        <div class="ui inverted red pointing response menu">
          <a class="item" data-tab="Information">房屋資訊</a>
          <a class="item" data-tab="Show_Img">相片</a>
          <a class="item" data-tab="Around">周邊</a>
          <a class="item" data-tab="Comment">討論</a>
          <a class="item" data-tab="Advanced_Search">進階搜尋</a>
          <a class="item" data-tab="List">清單</a>
        </div>
        <div class="launch button">
          <i class='big red sort icon'></i>
        </div>
        <div id="area">
          <div class="ui tab segment" id="information" data-tab="Information">
            <div class="message">請點選地圖上的房屋或搜尋</div>
          </div>
          <div class="ui tab segment" id="show_img slider1_container" data-tab="Show_Img">
            <div id="slider1_container">
              <div class="message">請點選地圖上的房屋或搜尋</div>
            </div>
          </div>
          <div class="ui tab segment" id="around" data-tab="Around">
            <%= render :partial => "shared/around" %>
          </div>
          <div class="comments-area ui tab segment" id="comments" data-tab="Comment">
            <div id="disqus_thread">
              <div class="message">請點選地圖上的房屋或搜尋</div>
            </div>
          </div>
          <div class="ui tab segment" id="advanced_search" data-tab="Advanced_Search">
            <%= render :partial => "shared/rent_search_form" %>
            <div id="search_show" class="" style="display:none">
            </div>
          </div>
          <div class="ui tab segment" id="list" data-tab="List">
            <div class="house_cart ui relaxed divided list">
              <div class="cart item">
                <ul class="house_list">
                </ul>
              </div>
            </div>
          </div>	
        </div> <!--end area -->
      </div> <!-- end column -->
    </div><!--end response -->
  </body>
  <script type="text/javascript">
    var disqus_shortname = 'whatshouse';
    var disqus_identifier = 'whatshouse';
    (function() {
     var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
     dsq.id = disqus_identifier;
     dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
     (document.getElementsByTagName('head')[0] ||
      document.getElementsByTagName('body')[0]).appendChild(dsq);
     })();
</script>
