<html>
		<head>

		</head>
<body>

		<div id = "rent_houses_page">
			
		<%= form_for @rent_house, :html => {:id => "msform"} do |f| %>
		<!-- progressbar -->
		<div class="ui three steps" id="progressbar">
			<div class="ui active step">基本資訊</div>
			<div class="ui step">聯絡資訊</div>
			<div class="ui step">刊登內容</div>
		</div>
		<fieldset>
		  <%= render 'shared/error_messages', object: f.object%>
		  <div class="two fields">
			<div class="field use">
			  <div class="ui left labeled icon input">
			  	<%= f.text_field :use , :placeholder => "類別"%>
			  	<i class="home icon"></i>
			  	<div class="ui corner label">
				  <i class="icon asterisk"></i>
			  	</div>
			  </div>
			</div>

			<div class="field structure">
			  <div class="ui left labeled icon input">
			    <%= f.text_field :structure, :placeholder => "格局"%>
			  	<i class="building icon"></i>
			  	<div class="ui corner label">
				  <i class="icon asterisk"></i>
			  	</div>
			  </div>
			</div>
		  </div>

		  <div class="field">
			<div class="ui left labeled icon input">
				<%= f.text_field :address, :placeholder => "地址"%>
			  <i class="map marker icon"></i>
			  <div class="ui corner label">
				<i class="icon asterisk"></i>
			  </div>
			</div>
		  </div> 

		  <div class="field price">
			<div class="ui left labeled icon input">
				<%= f.text_field :price, :placeholder => "租金"%>
			  <i class="dollar icon"></i>
			  <div class="ui corner label">
				<i class="icon asterisk"></i>
			  </div>
			</div>
		  </div> 
			<input type="button" name="next" class="next action-button" value="下一步" />
		  </fieldset>
		 <fieldset>
		  <div class="field">
			<div class="ui left labeled icon input">
				<%= f.text_field :owner, :placeholder => "聯絡人"%>
			  <i class="user icon"></i>
			  <div class="ui corner label">
				<i class="icon asterisk"></i>
			  </div>
			</div>
		  </div>

		  <div class="field">
			<div class="ui left labeled icon input">
				<%= f.text_field :tel, :placeholder => "聯絡電話"%>
			  <i class="phone icon"></i>
			  <div class="ui corner label">
				<i class="icon asterisk"></i>
			  </div>
			</div>
		  </div>
		<input type="button" name="previous" class="previous action-button" value="上一步" />
		<input type="button" name="next" class="next action-button" value="下一步" />
		 </fieldset>

		 <fieldset>
		  <div class="field">
			<div class="ui left labeled icon input" id="info">
			  <%= f.text_area  :breif, :placeholder => "刊登資訊" %>
			  <i class="infor icon"></i>
			  <div class="ui corner label">
				<i class="icon asterisk"></i>
			  </div>
			</div>
		  </div>

		  <div class="field img_input_wrapper">
			<div class="ui left labeled icon input">
			  <%= text_field_tag 'img[]',  nil, :placeholder => "照片" %>
			  <i class="photo icon"></i>
			  <div class="ui corner label">
				<i class="icon asterisk"></i>
			  </div>
			</div>
			<span class="i icon button add_more_button"><i class="add icon"></i></span>
		  </div>
		<input type="button" name="previous" class="previous action-button" value="上一步" />
		  <%= f.submit "出租", class:"submit action-button" %>
		</fieldset>
		</div>
		<% end %>

		<div class="house_list">
		  <% if @user.rent_houses.any? %>
			<h3>出租中 (<%= @user.rent_houses.count %>)</h3>
			<ol class="rent_houses">
			  <%= render @rent_houses %>
			</ol>
			<%= will_paginate @rent_houses %>
		  <% end %>
		</div>


<script>
	$(document).ready(function(){
		//jQuery time
		var current_fs, next_fs, previous_fs; //fieldsets
		var left, opacity, scale; //fieldset properties which we will animate
		var animating; //flag to prevent quick multi-click glitches

		$(".next.action-button").click(function(){
			if(animating) return false;
			animating = true;
			
			current_fs = $(this).parent();
			next_fs = $(this).parent().next();
			
			//activate next step on progressbar using the index of next_fs
			$("#progressbar .ui.step").eq($("fieldset").index(next_fs)).addClass("active");
			
			//show the next fieldset
			next_fs.show(); 
			//hide the current fieldset with style
			current_fs.animate({opacity: 0}, {
				step: function(now, mx) {
					//as the opacity of current_fs reduces to 0 - stored in "now"
					//1. scale current_fs down to 80%
					scale = 1 - (1 - now) * 0.2;
					//2. bring next_fs from the right(50%)
					left = (now * 50)+"%";
					//3. increase opacity of next_fs to 1 as it moves in
					opacity = 1 - now;
					current_fs.css({'transform': 'scale('+scale+')'});
					next_fs.css({'left': left, 'opacity': opacity});
				}, 
				duration: 800, 
				complete: function(){
					current_fs.hide();
					animating = false;
				}, 
				//this comes from the custom easing plugin
				easing: 'easeInOutBack'
			});
		});

		$(".previous").click(function(){
			if(animating) return false;
			animating = true;
			
			current_fs = $(this).parent();
			previous_fs = $(this).parent().prev();
			
			//de-activate current step on progressbar
			$("#progressbar .ui.step").eq($("fieldset").index(current_fs)).removeClass("active");
			
			//show the previous fieldset
			previous_fs.show(); 
			//hide the current fieldset with style
			current_fs.animate({opacity: 0}, {
				step: function(now, mx) {
					//as the opacity of current_fs reduces to 0 - stored in "now"
					//1. scale previous_fs from 80% to 100%
					scale = 0.8 + (1 - now) * 0.2;
					//2. take current_fs to the right(50%) - from 0%
					left = ((1-now) * 50)+"%";
					//3. increase opacity of previous_fs to 1 as it moves in
					opacity = 1 - now;
					current_fs.css({'left': left});
					previous_fs.css({'transform': 'scale('+scale+')', 'opacity': opacity});
				}, 
				duration: 800, 
				complete: function(){
					current_fs.hide();
					animating = false;
				}, 
				//this comes from the custom easing plugin
				easing: 'easeInOutBack'
			});
		});

		$(".submit").click(function(){
			return false;
		});
		$('#msform')
		  .form({
			use: {
			  identifier : 'rent_house[use]',
			  rules: [
				{
				  type   : 'empty',
				  prompt : '請輸入類別'
				}
			  ]
			},
			structure: {
			  identifier : 'rent_house[structure]',
			  rules: [
				{
				  type   : 'empty',
				  prompt : '請輸入格局'
				}
			  ]
			},
			address: {
			  identifier : 'rent_house[address]',
			  rules: [
				{
				  type   : 'empty',
				  prompt : '請輸入地址'
				}
			  ]
			},
			price: {
			  identifier : 'rent_house[price]',
			  rules: [
				{
				  type   : 'empty',
				  prompt : '請輸入月租'
				}
			  ]
			},
			owner: {
			  identifier : 'rent_house[owner]',
			  rules: [
				{
				  type   : 'empty',
				  prompt : '請輸入聯絡人'
				}
			  ]
			},
			tel: {
			  identifier : 'rent_house[tel]',
			  rules: [
				{
				  type   : 'empty',
				  prompt : '請輸入聯絡電話'
				}
			  ]
			},
			breif: {
			  identifier : 'rent_house[breif]',
			  rules: [
				{
				  type   : 'empty',
				  prompt : '請輸入刊登資訊'
				}
			  ]
			}
		  },{
			on: 'blur',
			inline: 'true',
			onSuccess : function() {
			}
		  })
		});

		// add input field by jQuery
		var max_input = 5;
		var inputs_wrapper = $('.img_input_wrapper');
		var add_button = $('.add_more_button');

		var x = inputs_wrapper.length;
		var fieldCount = 1;

		$(add_button).click( function(e) 
		{
			if ( x <= max_input ){
				fieldCount++;
				$(inputs_wrapper).append('<div><div class="ui left labeled icon input"> \
										 <input id="rent_house_img" name="img[]" type="text" > \
												<i class="photo icon"></i> \
												<div class="ui corner label"> \
													<i class="icon asterisk"></i> \
												</div> \
										</div> \
										<a href="#" class="removeclass">×</a></div>'
				);
				x++;
			}
			return false;
		});

		$('body').on('click', '.removeclass', function(e){

				if( x > 1 ){
					$(this).parent('div').remove();
					x--;
				}
			return false;
		})

		</script>
	</body>
</html>
