<% provide(:title, "個人檔案") %>
<div class="">
<div class="ui about cell grid">
	<div class="column">
		<div class="ui inverted pointing about menu">	
		<a class="item" data-tab="AboutMe">關於我</a>
		<a class="item" data-tab="UpdateInfo">更新資訊</a>
		</div>
		<div id="areaAbout">
				<div class="ui tab segment" id="AboutMe" data-tab="AboutMe">
						<table>		
							<tr>
								<td>使用者名稱</td><td><%= @user.name %> </td>
							</tr>
							<tr>
								<td>Email</td><td><%= @user.email %></td>
							</tr>
							<tr>
							<% if @user.rent_houses.any? %>
									<td>出租中 (<%= @user.rent_houses.count %>)</td>
								 	<td><ol class="rent_houses">
							 	  <%= render @user.rent_houses %>
									</ol>
								</td>
							<% end %>
							</tr>
						</table>
				</div>
			<div class="ui tab segment" id="UpdateInfo" data-tab="UpdateInfo">
				<div class="ui form edit segment">
			    <%= form_for(@user) do |f| %>
						<%= render 'shared/error_messages', object: f.object %>

					  <div class="field">
						<div class="ui left labeled icon input">
						  <%= f.text_field :name, placeholder:'使用者名稱'%>
						  <i class="user icon"></i>
						  <div class="ui corner label">
							<i class="icon asterisk"></i>
						  </div>
						</div>
					  </div> 
					  <div class="field">
						<div class="ui left labeled icon input">
						  <%= f.text_field :email, placeholder:'email'%>
						  <i class="mail icon"></i>
						  <div class="ui corner label">
							<i class="icon asterisk"></i>
						  </div>
						</div>
					  </div> 

					  <div class="field">
						<div class="ui left labeled icon input">
					  	<%= f.password_field :password, placeholder:'密碼'%>
						  <i class="lock icon"></i>
						  <div class="ui corner label">
							<i class="icon asterisk"></i>
						  </div>
						</div>
					  </div> 

					  <div class="field">
						<div class="ui left labeled icon input">
						  <%= f.password_field :password_confirmation, placeholder:'密碼確認' %>
						  <i class="lock icon"></i>
						  <div class="ui corner label">
							<i class="icon asterisk"></i>
						  </div>
						</div>
					  </div>
			  	  <%= f.submit "更新個人檔案", class:"ui orange button" %>
			    <% end %>
				</div>	
			</div>	
		</div>
	</div>
</div>		
</div>
<script>
$(document).ready(function(){
		$('.about.menu .item').tab({history:false});
});
</script>
<!--
<div class="ui form edit segment">
    <%= form_for(@user) do |f| %>
  	  <%= render 'shared/error_messages', object: f.object %>
		  <div class="field">
			<%= f.label :'使用者名稱' %>
			<div class="ui left labeled icon input">
			  <%= f.text_field :name %>
			  <i class="user icon"></i>
			  <div class="ui corner label">
				<i class="icon asterisk"></i>
			  </div>
			</div>
		  </div> 
		  <div class="field">
			<%= f.label :email %>
			<div class="ui left labeled icon input">
			  <%= f.text_field :email %>
			  <i class="mail icon"></i>
			  <div class="ui corner label">
				<i class="icon asterisk"></i>
			  </div>
			</div>
		  </div> 

		  <div class="field">
			<%= f.label :'密碼' %>
			<div class="ui left labeled icon input">
			  <%= f.password_field :password %>
			  <i class="lock icon"></i>
			  <div class="ui corner label">
				<i class="icon asterisk"></i>
			  </div>
			</div>
		  </div> 

		  <div class="field">
			<%= f.label :'密碼確認' %>
			<div class="ui left labeled icon input">
			  <%= f.password_field :password_confirmation %>
			  <i class="lock icon"></i>
			  <div class="ui corner label">
				<i class="icon asterisk"></i>
			  </div>
			</div>
		  </div>

  	  <%= f.submit "更新個人檔案", class:"ui blue button" %>

    <% end %>
</div>
-->
