<% provide(:title, "Edit user") %>


<h2>更新個人檔案</h2>

<div class="ui form edit segment">
    <%= form_for(@user) do |f| %>
  	  <%= render 'shared/error_messages', object: f.object %>
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirm Password" %>
      <%= f.password_field :password_confirmation %>

  	  <%= f.submit "儲存變更", class:"ui blue button" %>

    <% end %>

</div>
