<% provide(:title, 'Sign up') %>

<div id = "sign_up">
<div class="ui form signup segment" id="signup">
  <%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages', object: f.object%>
  <div class="field">
	<%= f.label :'使用者名稱' %>
	<div class="ui left labeled icon input">
      <%= f.text_field :name %>
      <i class="user icon"></i>
      <div class="ui corner label">
        <i class="icon asterisk"></i>
	  </div>
	</div>
  </div> 
  <div class="field">
    <%= f.label :email %>
	<div class="ui left labeled icon input">
	  <%= f.text_field :email %>
	  <i class="mail icon"></i>
      <div class="ui corner label">
        <i class="icon asterisk"></i>
	  </div>
	</div>
  </div> 

  <div class="field">
    <%= f.label :'密碼' %>
	<div class="ui left labeled icon input">
      <%= f.password_field :password %>
	  <i class="lock icon"></i>
      <div class="ui corner label">
        <i class="icon asterisk"></i>
	  </div>
	</div>
  </div> 

  <div class="field">
    <%= f.label :'密碼確認' %>
	<div class="ui left labeled icon input">
      <%= f.password_field :password_confirmation %>
	  <i class="lock icon"></i>
      <div class="ui corner label">
        <i class="icon asterisk"></i>
	  </div>
	</div>
  </div>
  <%= f.submit "註冊", class:"ui red button" %>
<% end %>
</div>
</div>

<script>

$(document).ready(function() {
  $('#signup').form({       
    name: {
      identifier: "user[name]",
      rules: [{
        type: 'empty',
        prompt: 'Please enter your email'
      }]
    },
    email: {
      identifier: "user[email]",
      rules: [{
        type: 'empty',
        prompt: 'Please enter your email'
      },{
        type: 'email',
        prompt: 'Please enter a valid email'
      }]
    },       
    password: {
      identifier: "user[password]",
      rules: [{
        type: 'empty',
        prompt: 'Please enter a password'
      },{
        type: 'length[6]',
        prompt: 'Password needs to be atleast 6 characters long'
      }]
    },
    password_confirmation: {
      identifier: "user[password_confirmation]",
      rules: [{
        type: 'empty',
        prompt: 'Please enter the password again'
      },{
        type: 'length[6]',
        prompt: 'Password needs to be atleast 6 characters long'
      }]
    }
  }, {
    on: 'blur',
    inline: 'true',
    onSuccess : function() { 
      alert("yes");     
    }
  });
});

</script>