<div id="change_password">
  <div class="ui form segment">
    <h2>更改密碼</h2>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>
      <%= f.hidden_field :reset_password_token %>
      <div class="field">
        <%= f.label :password, "新密碼" %>
        <div class="ui labeled input">
          <%= f.password_field :password, autofocus: true, autocomplete: "off" %>
        </div>
      </div>
      <div class="field">
        <%= f.label :password_confirmation, "確認新密碼" %>
        <div class="ui labeled input">
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>
      </div>
      <div><%= f.submit "送出", class:"ui red button"%></div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>
