<html>
	<head>
		<script type="text/javascript"
				var API_KEY = "AIzaSyC0TefahOFqFl5g7PqXaH6a1qaEVwezRXM"
      			src="https://maps.googleapis.com/maps/api/js?key="+API_KEY+"&sensor=FALSE">
    	</script>
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
		<script src="https://google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.1.2/src/markerclusterer.js" type="text/javascript"></script>
   <%= javascript_include_tag "show" %>
	</head>
	<body>
  		<div id="map_canvas" style="width:100%; height:100%"></div>
			<div class="ui response	cell grid">
					<div class="column">
						<div class="ui inverted orange pointing response menu">
							<a class="item" data-tab="Information">房屋資訊</a>
							<a class="item" data-tab="Around">周邊</a>
							<a class="item" data-tab="Comment">討論</a>
							<a class="item" data-tab="Preference_score">喜好推薦</a>
							<a class="item" data-tab="Advanced_Search">進階搜尋</a>
						</div>
					<div class="launch button"><i class='big red sort icon'></i></div>
					<div id="area">
						<div class="ui tab segment" id="information" data-tab="Information"></div>
						<div class="ui tab segment" id="around" data-tab="Around">
							<div class="ui slider checkbox">
  								<input name="7-11" type="checkbox">
  								<label>7-11</label>
							</div>	
						</div>
						<div class="ui tab segment" id="information" data-tab="Information"></div>
						<div class="comments-area ui tab segment" id="comments" data-tab="Comment">
							<div id="disqus_thread"></div>
						</div>
						<div class="ui tab segment" id="score" data-tab="Preference_score">		
							<div class="heart item">	
								<div class="ui large heart rating data-rating="5"">
									 <i class="rate icon"></i>
									 <i class="rate icon"></i>
									 <i class="rate icon"></i>
									 <i class="rate icon"></i>
									 <i class="rate icon"></i>
								</div>
								<div class="content">
						 			7-11
								</div>
							</div>	
							<div class="heart item">	
								<div class="ui large heart rating data-rating="5"">
								 	<i class="rate icon"></i>
									<i class="rate icon"></i>
								 	<i class="rate icon"></i>
								 	<i class="rate icon"></i>
									<i class="rate icon"></i>
								</div>
								<div class="content">
						 			火車站
								</div>
							</div>
						</div>
						<div class="ui tab segment" id="advanced_search" data-tab="Advanced_Search">
							<div class="ui form">	
							<%= form_tag('/events/filter', remote: true) do%>
								<% if current_page?("rent") %>
										月租
									<div class="radio fields">
										<div class="ui radio checkbox">
											<%= radio_button_tag(:price, "4000", checked = true)  %>
											<%= label_tag(:price, "4000以下") %>
										</div>	
										<div class="ui radio checkbox">
												<%= radio_button_tag(:price, "4000~6000") %>
												<%= label_tag(:price, "4000~6000") %>
										</div>
										<div class="ui radio checkbox">	
												<%= radio_button_tag(:price, "6000~1000") %>
												<%= label_tag(:price, "6000~1000") %>
										</div>	
										<div class="ui radio checkbox">
											<%= radio_button_tag(:price, "10000以上") %>
											<%= label_tag(:price, "10000以上") %>
										</div>	
									</div>
									<%= submit_tag("搜尋") %>
								<% end %>
    							<% if current_page?("buy") %>
									<%= label_tag(:price, "售價") %>
								<div class="radio fields">
									<div class="ui radio checkbox">	
										<%= radio_button_tag(:price, "3000000") %>
										<%= label_tag(:price, "300萬以下") %>
									</div>	
									<div class="ui radio checkbox">
										<%= radio_button_tag(:price, "3000000~5000000") %>
										<%= label_tag(:price, "300萬~500萬") %>
									</div>	
									<div class="ui radio checkbox">
										<%= radio_button_tag(:price, "5000000~8000000") %>
										<%= label_tag(:price, "500萬~800萬") %>
									</div>
									<div class="ui radio checkbox">
										<%= radio_button_tag(:price, "10000000") %>
										<%= label_tag(:price, "1000萬以上") %>	
									</div>	
								</div>
									<%= submit_tag("搜尋") %>
								<% end %>
							<% end %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>

