<%= form_tag('/rent_houses/show', remote:true, method:'get', class:"search_form") do%>
	<div class="search_form">	
		<%= label_tag(:district, "鄉鎮市區") %>
		<div class="ui icon input">
			 <%= text_field_tag(:district, nil,placeholder: "Search...") %>
			<i class="search icon"></i>
		</div>
	</div>
	<%= label_tag(:price, "月租") %>
	<div class="radio fields">
		<div class="ui radio checkbox">
			<%= radio_button_tag(:price, [0, 4000], checked = true)  %>
			<%= label_tag(:price, "4000") %>
			<i class="small long arrow down icon"></i>
		</div>	
		<div class="ui radio checkbox">
				<%= radio_button_tag(:price, [4000, 6000]) %>
				<%= label_tag(:price, "4000 ~ 6000") %>
		</div>
		<div class="ui radio checkbox">	
				<%= radio_button_tag(:price, [6000, 10000]) %>
				<%= label_tag(:price, "6000 ~ 1000") %>
		</div>	
		<div class="ui radio checkbox">
			<%= radio_button_tag(:price, [10000, 99999999]) %>
			<%= label_tag(:price, "10000") %>
			<i class="long arrow up icon"></i>
		</div>	
	</div>
	 <%= render :partial => "shared/rating" %>
	 <%= text_field_tag(:rating, nil, :id=>'rating_tag' ) %>
<%= submit_tag("搜尋", onClick:"search()", class:"adsearch ui small red button") %>
	<% end %>

