var map;
var services;
var around = {};
var aroundMarkers = {};
var aroundLayers = [];
var markers = [];
var markerCluster;
var getHouse;
var id_markers = {};

var sevenElevens = [],
    schools = [],
    restaurants = [],
    trainStations = [],
    hospitals = [],
    policeOffices = [],
    markets = [];

var focusPoint = {
  lat: null,
  lng: null
};

function initialize() {
  // set zoom level
  var zoomLevel = 12;
  // set center
  map = L.map('map_canvas').setView([22.999255, 120.215013], zoomLevel);
  // add tile layer to map
  L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(map);

  markerCluster = L.markerClusterGroup();

  markers = [];
  var real_price_list = gon.real_price_list;

  for (var i = 0; i < real_price_list.length; i++) {
    createMarker(real_price_list[i], markers);
    console.log(markers[i].getLatLng());
    console.log(markers[i]);
  }
  //create clusterer and push the global array of markers into it.
  markerCluster.addLayers(markers);
  map.addLayer(markerCluster);
}

// add marker into map and push it into aroundMarkers, the
// obj should be the data of surrounded information from server.
function addAroundMarker(obj) {
  // there are some duplicate data in police_stations,
  // I have to delete it by myself here...
  if (obj.data === "police_stations") {
    for (var p in aroundMarkers["police_stations"]) {
      if (p.addr === obj.addr) {
        return;
      }
    }
  }

  // icon category
  var iconCat = "";
  // switch icon pictures of markers by icon category
  if (obj.data === "stores") {
    iconCat = '<%= asset_path "stores.jpg" %>';
  } else if (obj.data === "stations") {
    iconCat = '<%= asset_path "stations.png" %>';
  } else if (obj.data === "dinings") {
    iconCat = '<%= asset_path "dinings.png" %>';
  } else if (obj.data === "tainan_schools") {
    iconCat = '<%= asset_path "tainan_schools.png" %>';
  } else if (obj.data === "tainan_markets") {
    iconCat = '<%= asset_path "tainan_markets.png" %>';
  } else if (obj.data === "hospitals") {
    iconCat = '<%= asset_path "hospitals.png" %>';
  } else if (obj.data === "police_stations") {
    iconCat = '<%= asset_path "police_stations.png" %>';
  }
  // icon image setting
  var iconImage = L.icon({
    iconUrl: iconCat,
    iconSize: [30, 30]
  });

  var marker = L.marker([obj.lat, obj.lng], {
    icon: iconImage
  });
  marker.id = obj.id;
  marker.data = obj.data;
  marker.lat = obj.lat;
  marker.lng = obj.lng;

  var html = "";
  for (var key in obj) {
    if (key === "name") {
      html += "<p>"+ "名稱" + ": " + obj["name"] +"</p>";
    } else if (key === "address") {
      html += "<p>"+ "address" + ": " + obj["address"] +"</p>";
    } else if (key === "addr") {
      html += "<p>"+ "addr" + ": " + obj["addr"] +"</p>";
    } else if (key === "location") {
      html += "<p>"+ "location" + ": " + obj["location"] +"</p>";
    } else if (key === "breif") {
      html += "<p>"+ "brief" + ": " + obj["breif"] +"</p>";
    } else if (key === "tel") {
        html += "<p>"+ "tel" + ": " + obj["tel"] +"</p>";
    } else if (key === "time") {
      html += "<p>"+ "time" + ": " + obj["time"] +"</p>";
    }
  }
  marker.bindPopup(html);

  if (!(obj.data in aroundMarkers)) {
    aroundMarkers[obj.data] = [];
  }
  aroundMarkers[obj.data].push(marker);
}

// add a marker to the map and push it to the map.
function createMarker(obj, markers) {
  console.log(obj.lat + ',' + obj.lng);
  var marker = L.marker([obj.lat, obj.lng]);

  // add additional property (what we need : need to be modified here.)
  marker.id = obj.id;
  marker.data = obj.datas;
  marker.lat = obj.lat;
  marker.lng = obj.lng;

  marker.on('click', function(){
    // whenever click the marker change the menu tab to information
    $('div.ui.inverted.red.pointing.response.menu .item')
      .tab('change tab', 'Information')
      .tab('deactivate all')
      .tab('activate tab', 'Information')
      .tab('activate navigation', 'Information');

    window.location.hash = 'Information';

    //if information area is hide, show it
    $('#area').show();

    // check if user click on the same marker, yes
    // then do nothing.
    if (focusPoint.lat === marker.lat &&
        focusPoint.lng === marker.lng) {
      return;
    }
    // let the current marker be the focus point.
    focusPoint.lat = marker.lat;
    focusPoint.lng = marker.lng;
    // delete the around points of previous marker.
    deleteAround();

    // disable all checkbox in the html
    $('.form .fields .checkbox').checkbox('disable');
    // request the data from database.
    jQuery.ajax({
      url : '/events/show',
      dataType : 'json',
      type : 'GET',
      data : {
        real_price_id : marker.id,
        data: marker.data,
        lat: marker.lat,
        lng: marker.lng
      },
      // if success, check the data type and send the information to the
      // corresponding block.
      success : function(response){
        for ( i=0; i < response.length; ++i ){
          if ( response[i].data == 'sale_houses'){
            $('#information').html(
              '<span class="left-information"><div class="orange ui ribbon label">'
                + "類型" + '</div>' +
              "<p>" + response[i].use + "</p></span>" +
              '<span class="right-information"><div class="orange ui ribbon label">'
              + "格局" + '</div>' +
              "<p>" + response[i].structure + "</p></span>" +
              '<span class="left-information"><div class="orange ui ribbon label">'
              + "地址" + '</div>' +
              "<p>" + response[i].address + "</p></span>" +
              '<span class="right-information"><div class="orange ui ribbon label">'
              + "售價" + '</div>' +
              "<p>" + response[i].price + "</p></span>" +
              '<span class="left-information"><div class="orange ui ribbon label">'
              + "聯絡人" + '</div>' +
              "<p>" + response[i].owner + "</p></span>" +
              '<span class="right-information"><div class="orange ui ribbon label">'
              + "聯絡電話" + '</div>' +
              "<p>" + response[i].tel + "</p></span>" +
              '<span class="brief"><div class="orange ui ribbon label">'
              + "刊登資訊" + '</div>' +
              "<p>" + response[i].breif + "</p></span>"
            );
          }
          else if ( response[i].data == 'rent_houses' ){
            getHouse = response[i];
            $('#information').html(
							'<div class="ui left corner label"><div class="text">點擊率' + response[i].browse_rate  + '</div></div>' +
							'<table class="ui table segment row" cellpadding="0" cellspacing="0" border="0"><tbody>' +
              '<tr class="address row"><td class="first"><i class="map marker icon"></i>地址</td>' +  '<td class="second"><p>' + response[i].address + '</p></td></tr>' +
						  '<tr class="price row"><td class="first"><i class="dollar icon"></i>租金</td>' +  '<td class="second"><p>' + response[i].price + '元/每月</p></td></tr>' +
							'<tr class="type row"><td class="first"><i class="home icon"></i>類型</td>' +  '<td class="second"><p>' + response[i].use + '</p></td></tr>' +
              '<tr class="structure row"><td class="first"><i class="building icon"></i>格局</td>' +  '<td class="second"><p>' + response[i].structure + '</p></td</tr>' +
							'<tr class="pepple row"><td class="first"><i class="users icon"></i>人數</td>' +  '<td class="second"><p>' + response[i].people + '</p></td></tr>' +
              '<tr class="contact row"><td class="first"><i class="user icon"></i>聯絡人</td>' + '<td class="second"><p>' + response[i].owner + '</p></td></tr>' +
              '<tr class="tel row"><td class="first"><i class="phone icon"></i>聯絡電話</td>' + '<td class="second"><p>' + response[i].tel + '</p></td></tr>' +
              '<tr class="infor row"><td class="first" id="main_infor"><i class="info icon"></i>刊登資訊' + '<td><p>' + response[i].breif + '</p></td></tr><tbody></talbe>'
            );
            // add the pictures of house to the slider.
            var sliderHTML = splitImgUrl(response[i].img);
            if (sliderHTML) {
              $('#slider1_container').html( '<div id = "images" u="slides">'
                  + sliderHTML + '</div>');
              jssor_slider1_starter('slider1_container');
            }
          }
          else if( response[i].data == 'real_price_deals'){
            $('#information').html(
              '"<div class="red ui ribbon label">' + "鄉鎮市區" + '</div>' +
              "<p>" + response[i].area + "</p>" +
              '"<div class="green ui ribbon label">' + "土地路段" + '</div>' +
              "<p>" + response[i].location + "</p>" +
              '"<div class="blue ui ribbon label">' + "總成交價" + '</div>' +
              "<p>" + response[i].total_price + "元</p>"
            );
          }
          else {
            // if the data category of response is not in around
            // around will add a property of data.
            if (!(response[i].data in around)) {
              console.log("found " + response[i].data);
              around[response[i].data] = [];
            }
            // add the data into the corresponding category of
            // around.
            around[response[i].data].push(response[i]);
            addAroundMarker(response[i]);
          }
        }
        // add the numbers of around services after its name EX. 7-11(10),
        // this means there are 10 7-11s around the house.
        $("#around_services").find("input").each(function (index) {
          var cat = $(this).attr('name');
          var labelID = $(this).next('label').attr('id');
          var num = 0;
          if (cat in aroundMarkers) {
            $(this).next('label').text(labelID + " (" + aroundMarkers[cat].length +")");
          }
          else {
            $(this).next('label').text(labelID + " (0)");
          }
        });
      },
      error : function(err){
        // do error checking
        alert("something went wrong");
        console.error(err);
      }
    });
    // comment
    DISQUS.reset({
      reload: true,
      config: function () {
        this.page.identifier = marker.id;
        this.page.url = "https://whatshouse.herokuapp.com/#!newthread";
      }
    });
  });
  markers.push(marker);
  id_markers[marker.id] = marker;
}

function showAround (cat) {
  // show all
  if (cat === "all") {
    for (var category in aroundMarkers) {
      // for(var i = 0; i != aroundMarkers[category].length; i++) {
      //   aroundMarkers[category][i].addTo(map);
      // }
      aroundLayers[category] = L.layerGroup(aroundMarkers[category]);
      map.addLayer(aroundLayers[category]);
    }
    return;
  }
  // show cat only
  if (cat in aroundMarkers) {
    // for(var i = 0; i != aroundMarkers[cat].length; i++) {
    //   aroundMarkers[cat][i].addTo(map);
    // }
    aroundLayers[cat] = L.layerGroup(aroundMarkers[cat]);
    map.addLayer(aroundLayers[cat]);
  }
}

// just hide from map
function hideAround (cat) {
  // hide all
  if (cat === "all") {
    for (var category in aroundMarkers) {
      // for(var i = 0; i != aroundMarkers[category].length; i++) {
      //   aroundMarkers[category][i].addTo(null);
      // }
      map.removeLayer(aroundLayers[category]);
    }
    return;
  }
  // hide cat only
  if (cat in aroundMarkers) {
    // for(var i = 0; i != aroundMarkers[cat].length; i++) {
    //   aroundMarkers[cat][i].addTo(null);
    // }
    map.removeLayer(aroundLayers[cat]);
  }
}

// delete "all" around and aroundmarkers.
function deleteAround () {
  hideAround("all");
  around = {};
  aroundMarkers = {};
  aroundLayers = {};
}

// Sets the map on all markers in the array.
function setAllMap(map) {
  for (var i = 0; i < markers.length; i++) {
    markers[i].addTo(map);
  }
}

// Removes the markers from the map, but keeps them in the array.
function clearMarkers() {
  setAllMap(null);
}


// Deletes all markers in the array by removing references to them.
function deleteMarkers() {
  clearMarkers();
  markers = [];
}

function search () {
  $('.search_form, .menu_search_form').on('ajax:success', function(xha, data, status) {
    markerCluster.setMap(null);
    markerCluster = [];
    deleteMarkers();
    deleteAround();

  $('div.ui.inverted.red.pointing.response.menu .item')
    .tab('change tab', 'Advanced_Search')
    .tab('deactivate all')
    .tab('activate tab', 'Advanced_Search')
    .tab('activate navigation', 'Advanced_Search')
  ;
  window.location.hash = 'Advanced_Search';

      var rating_index = data[1];
      if( rating_index != " " && data[0].length > 0){
        $('div.ui.form.success').hide();

        $('div#search_show').html(
         '<span id="serach_rating">搜尋排名</span><button class="undo ui orange mini icon button" onclick="searchUndo()"><i class="undo icon"></i></button>' +
         "<ol id='search_result'>"
       );

        appendSerachContent(data, rating_index);
      }
      else if( data[0].length > 0 ){

        $('div.ui.form.success').hide();
        $('div#search_show').html(
         '<span id="serach_rating">搜尋結果(顯示前三筆)</span><button class="undo ui mini orange icon button" onclick="searchUndo()"><i class="undo icon"></i></button>' +
         "<ol id='search_result'>"
        );

        appendSerachContent(data, rating_index);
        var newCenter = new google.maps.LatLng( data[0][0].lat, data[0][0].lng);
        map.setCenter(newCenter);
        map.setZoom(13);
      }
      else {

        $('div.ui.form.success').hide();
        $('div#search_show').html(
          '<span id="serach_rating">搜尋結果(0筆)</span><button class="undo ui mini orange mini icon button" onclick="searchUndo()"><i class="undo icon"></i></button>');
      }

    var real_price_list = data[0];
    for (var i = 0; i < real_price_list.length; i++) {
      createMarker(real_price_list[i], markers);
    }

    //create clusterer and push the global array of markers into it.
    markerCluster = L.markerClusterGroup();
    markers.addLayer(markers);
    map.addLayer(markers);

    $("div#advanced_search form").hide();
    $("div#search_show").show();

  });
}

function appendSerachContent(data, rating_index) {
  var item;
  for (var i = 0; i < 3 && i < data[0].length; ++i) {
    if (rating_index != " ") {
      item = data[0][ rating_index[ rating_index.length - i - 1 ] ];
    }
    else {
      item = data[0][i];
    }
    $('#search_result').append(
        "<li><a class='marker_link' href='#' id='" + item.id +
        "' onclick='moveToMarker(event,this.id)'>" + item.address +
        " " + item.price + "元</a></li>"
    );
  }
  $('#search_result').append("</ol>");
}

function moveToMarker(event, markerID){
  event.preventDefault();
  var newCenter = [id_markers[markerID].lat, id_markers[markerID].lng];
  map.setView(newCenter);
  map.setZoom(17);
}

function searchUndo(){
  $("div#advanced_search form").show();
  $("div#search_show").hide();
}

function initalCheckbox(){
  $('.form .fields .checkbox').checkbox('disable');
  $('.form .fields .checkbox').checkbox();

  $('.form .fields .checkbox').click(function() {
    if ($(this).children('input').is(':checked')) {
      showAround($(this).children('input').attr('name'));
    }
    else {
      hideAround($(this).children('input').attr('name'));
    }
  });
}

function splitImgUrl(imgUrl) {
  if (imgUrl) {
    var img = imgUrl.split(",");
    var sliderHTML = "";
    for (var i = 0; i < img.length; i++) {
      sliderHTML += '<div><img u="image" src="' + img[i] + '" /></div>';
    }
  }
  else {
    sliderHTML += '<div><img u="image" src="<%= asset_path '006.jpg' %>" /></div>';
    sliderHTML += '<div><img u="image" src="<%= asset_path '006.jpg' %>" /></div>';
  }
  return sliderHTML;
}

var house_number = $('.cart').length;
var house_array = []
function addToCart() {
  // add input field by jQuery
  var max_input = 4;
  var fieldCount = 1;

	 // whenever click the marker change the menu tab to information
   $('div.ui.inverted.red.pointing.response.menu .item')
      .tab('change tab', 'List')
      .tab('deactivate all')
      .tab('activate tab', 'List')
      .tab('activate navigation', 'List')
    ;
   window.location.hash = 'List';

  if ( house_number <= max_input ){
    house_array.push(getHouse);
    fieldCount++;
    $('.cart').append('<li>' +
        '<i class="map marker icon"></i><div class="content">' +
        '<span class="header"><a href="#" onclick="moveToMarker(event,this.id)" id="' +
        getHouse.id + '">' +
        getHouse.address + " " +
        getHouse.price + "$ </a>" +
        '</span><a href="#" onclick="javascript:removeFromCart(this)" id="house' +
        house_number + '" class="removeclass">x</a></div></li>'
    );
    house_number++;
  }
  return false;
}

function removeFromCart (item) {
  if( house_number >= 1 ){
    delete house_array[ item.id[4] ];
    $(item).parents('li').remove();
    house_number--;
  }
  return false;
}

$(document).ready(initalCheckbox);
