<div id="site-container">
	<div class="heading">
				<h1>簡單、直覺、友善</h1>
				<h6>提供更輕鬆的方式尋找您心目中的家</h6>
				<div class="enter">
					<%= link_to "找房子", rent_path, class:"ui red button", 'data-no-turbolink' => true %>
					<%= link_to "出租", signin_path, class:"ui red button", 'data-no-turbolink' => true %>
				</div>
				<!-- div id = "sign_up">
				<div class="ui form signup segment" id="signup">
				  <%= form_for(@user) do |f| %>
				  <%= render 'shared/error_messages', object: f.object%>
				  <div class="field">
					<div class="ui left labeled icon input">
					  <%= f.text_field :name , placeholder:'使用者名稱'%>
					  <i class="user icon"></i>
					  <div class="ui corner label">
						<i class="icon asterisk"></i>
					  </div>
					</div>
				  </div> 
				  <div class="field">
					<div class="ui left labeled icon input">
					  <%= f.text_field :email, placeholder:'email' %>
					  <i class="mail icon"></i>
					  <div class="ui corner label">
						<i class="icon asterisk"></i>
					  </div>
					</div>
				  </div> 

				  <div class="field">
					<div class="ui left labeled icon input">
					  <%= f.password_field :password, placeholder:'密碼'%>
					  <i class="lock icon"></i>
					  <div class="ui corner label">
						<i class="icon asterisk"></i>
					  </div>
					</div>
				  </div> 

				  <div class="field">
					<div class="ui left labeled icon input">
					  <%= f.password_field :password_confirmation, placeholder:'密碼確認'%>
					  <i class="lock icon"></i>
					  <div class="ui corner label">
						<i class="icon asterisk"></i>
					  </div>
					</div>
				  </div>
				  <%= f.submit "註冊", class:"ui red button" %>
				  <% end %> 
		  </div> -->
		</div>		
</div>
