<header>
   	<div class="ui tiered title_bar menu">
		<%= link_to "Whats House", root_path, class:"active item", 'data-no-turbolink' => true %>
		<%= link_to "Rent", rent_path, class:"active item", 'data-no-turbolink' => true %>
       	<%= link_to "Analysis", analysis_path, class:"active item", 'data-no-turbolink' => true %>
   		<% if signed_in? %>
           	<%= link_to "Sale house", salehouse_path, class:"active item"%>
        	<%= link_to "Rent house", renthouse_path, class:"active item"%>
          	<%= link_to "Profile", current_user, class:"active item"%>
           	<%= link_to "Settings", edit_user_path(current_user), class:"active item"%>
			<%= link_to "Sign out", signout_path, method: "delete" , class:"active item" %>
		<% else %>
       		<%= link_to "Sign in", signin_path, class:"active item"%>
           	<%= link_to "Sign up", signup_path, class:"active item"%>
		<% end %>	
   	</div>
</header>
