<header>
	<layer id="layer-3">
    	<div id= "title_bar">
      		<div class="ui tiered title_bar menu">
				<%= link_to "Whats House", root_path, class:"active item", 'data-no-turbolink' => true %>
          		<% if signed_in? %>
                	<%= link_to "Profile", current_user, class:"active item"%>
                	<%= link_to "Settings", edit_user_path(current_user), class:"active item"%>
					<%= link_to "Sign out", signout_path, method: "delete" , class:"active item" %>
				<% else %>
            		<%= link_to "Sign in", signin_path, class:"active item"%>
            		<%= link_to "Sign up", signup_path, class:"active item"%>
				<% end %>	
      		</div>
    	</div>
  	</layer>
</header>
