<header>
<div class="ui fixed inverted title_bar menu">
  <div class="menu">
    <%= link_to root_path, class:"item", 'data-no-turbolink' => true do %>
      <h2><i class="home icon"></i>WhatsHouse</h2>
    <% end %>
    <% if current_page?('maps') %>
      <div class="menu_search_form">	
        <div class="item">
          <%= form_tag( search_rent_houses_path, remote:true, method:'get', class:"search_form") do%>
            <div class="ui icon input">
              <%= text_field_tag(:district, nil,placeholder: "搜尋城市、鄉鎮市區") %>
              <i class="search icon">
              </i>
              <%= submit_tag("", onClick:"search()", class:"ui button search_submit") %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
    <div class="right menu">
      <% if user_signed_in? %>
        <%= link_to new_user_rent_house_path(current_user), id:"renthouse_link", class:"item" do%>
          <i class="add icon"></i>出租
        <% end %>
        <div class="ui pointing dropdown item">
          <%= current_user.name %>
          <i class="icon dropdown"></i>
          <div class="menu">
            <%= link_to '個人檔案', user_path(current_user), class:"item" %>
            <%= link_to '帳號設定', edit_registration_path(:user), class:"item" %>
            <%= link_to'登出', destroy_user_session_path, :method => :delete, class:"item" %>
          </div>
        </div>
      <% else %>
        <%= link_to '註冊', new_registration_path(:user), class:"item" %>
        <%= link_to '登入', new_session_path(:user), class:"item" %>
      <% end %>	
    </div>
  </div>
</div>
</header>
