<div class="ui tiered title_bar menu">
	<%= link_to "Whats House", root_path, class:"active item", 'data-no-turbolink' => true %>
	<%= link_to "租房", rent_path, class:"active item", 'data-no-turbolink' => true %>
   	<%= link_to "分析", analysis_path, class:"active item", 'data-no-turbolink' => true %>
    <% if signed_in? %>
       	<%= link_to "出售", salehouse_path, class:"active item"%>
       	<%= link_to "出租", renthouse_path, class:"active item"%>
       	<%= link_to "個人檔案", current_user, class:"active item"%>
       	<%= link_to "設定", edit_user_path(current_user), class:"active item"%>
		<%= link_to "登出", signout_path, method: "delete" , class:"active item" %>
	<% else %>
		<%= link_to "登入", signin_path, class:"active item"%>
   		<%= link_to "註冊", signup_path, class:"active item"%>
	<% end %>	
</div>
