<header>
<div class="ui fixed inverted title_bar menu">
  <div class="menu">
    <%= link_to root_path, class:"item", 'data-no-turbolink' => true do %>
      <h2><i class="home icon"></i>WhatsHouse</h2>
    <% end %>
    <%= yield :search_bar %>
    <div class="right menu">
      <% if user_signed_in? %>
        <%= link_to new_rent_house_path, id:"renthouse_link", class:"item" do%>
          <i class="add icon"></i>出租
        <% end %>
        <div class="ui pointing dropdown item">
          <%= current_user.name %>
          <i class="icon dropdown"></i>
          <div class="menu">
            <%= link_to '個人檔案', user_path(current_user), class:"item" %>
            <%= link_to '帳號設定', edit_registration_path(:user), class:"item" %>
            <%= link_to'登出', destroy_user_session_path, :method => :delete, class:"item" %>
          </div>
        </div>
      <% else %>
        <%= link_to '註冊', new_registration_path(:user), class:"item" %>
        <%= link_to '登入', new_session_path(:user), class:"item" %>
      <% end %>	
    </div>
  </div>
</div>
</header>
