<header>
<div class="ui fixed inverted title_bar menu">
	<div class="menu">
	<% if signed_in? %>
			<%= link_to rent_path, class:"item", 'data-no-turbolink' => true do %>
			<h2><i class="home icon"></i>WhatsHouse</h2>
			<% end %>
	<% else %>		
			<%= link_to root_path, class:"item", 'data-no-turbolink' => true do %>
			<h2><i class="home icon"></i>WhatsHouse</h2>
			<% end %>
			<%= link_to "租屋", rent_path, class:"item", 'data-no-turbolink' => true %>
			<!--<%= link_to "買房", buy_path, class:"item", 'data-no-turbolink' => true %> -->
			<!--  <%= link_to "房地產分析", analysis_path, class:"item", 'data-no-turbolink' => true %> -->
	<% end %>
	<% if current_page?("buy") || current_page?("rent") %>
	<div class="menu_search_form">	
		<div class="item">
		<%= form_tag('/rent_houses/search', remote:true, method:'get', class:"search_form") do%>
			<div class="ui icon input">
				 <%= text_field_tag(:district, nil,placeholder: "搜尋城市、鄉鎮市區") %>
				<i class="search icon">
				</i>
		<%= submit_tag("", onClick:"search()", class:"ui button search_submit") %>
			</div>
		<% end %>
		</div>
	</div>
	<% end %>
	<div class="right menu">
	<% if signed_in? %>
		<div class="ui floating dropdown item">
				<%= current_user.name %><i class="icon dropdown"></i>
			<div class="menu">
	 			 <!-- <%= link_to "出售", salehouse_path, class:"item"%> -->
	       		<%= link_to "出租", renthouse_path, class:"item"%>
				<%= link_to "個人檔案", edit_user_path(current_user), class:"item"%> 
				<!-- <%= link_to "設定", edit_user_path(current_user), class:"sign_in item"%> -->
			<%= link_to "登出", signout_path, method: "delete" , class:"sign_in item" %>
			</div>
		</div>
	<% else %>
		<%= link_to "登入", signin_path, class:"item"%>
   		<%= link_to "註冊", signup_path, class:"item"%>
	<% end %>	
	</div>
<!-- search button
      	<div class="item">
        	<div class="ui icon input">
          		<input placeholder="Search..." type="text">
          		<i class="search icon"></i>
        	</div>
      	</div>
-->
	</div>

</div>
</header>
