<!DOCTYPE html>
<html lang="zh-tw">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta property="og:type" content="website">
  <title><%= full_title(yield(:title)) %></title>
  <%= include_gon %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
	<%= render 'layouts/header' %>
	<div class="container">
    <% flash.each do |key, value| %>
        <span class="ui small error message alert-<%= key %>"><%= value %></div>
      <% end %>
	
	<%= yield %>

	</div>
	<%= render 'layouts/footer' %>
	<%= debug(params) if Rails.env.development? %>
</body>
</html>
