<!DOCTYPE html>
<html lang="zh-tw">
<head>
	 <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta property="og:type" content="website">
	<meta property="og:title" content="WhatsHouse"/>
	<meta property="og:locale" content="zh_TW"/>
	<meta property="og:description" content="簡單、直覺、友善, 提供更輕鬆的方式尋找您心目中的家"/>
	<meta property="og:url" content="https://whatshouse.herokuapp.com/"/>
  <link href="<%= asset_path '006.jpg' %>" rel="image_src" type="image/jpeg">
  <%= favicon_link_tag '/favicon.ico' %>
  <title><%= full_title(yield(:title)) %></title>
  <%= include_gon %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
	<%= render 'layouts/header' %>
	<div class="container">
		<%= yield %>
	</div>
	<%= render 'layouts/footer' %>
	<%= debug(params) if Rails.env.development? %>
</body>
</html>
